<% form_url = (symptom.persisted?) ? user_symptom_url(user, symptom) : user_symptoms_url(user) %>

<form class="form" action="<%= form_url %>" method="POST">
	
  <h3><%= (symptom.persisted?) ? 'Edit' : 'New' %> Symptom:</h3>
  
  <%= auth_token %>
  <%= "<input type='hidden' name='_method' value='PUT'>".html_safe if symptom.persisted? %>
  
  <div class="input">
    <label for="name">Symptom Name:</label>
    <input id="name" type="text" name="symptom[name]" style="width: 275px;" value="<%= symptom.name if symptom.persisted?%>">
  </div>
  
  <label for="schedule">Frequency of occurence:</label>
  <div id="schedule" class="group">
    <div class="checkbox-group">
      <% Symptom.frequencies.each do |frequency| %>
        <div class="checkbox-input">
          <label for="<%= frequency %>"><%= frequency %></label>
          <input type="radio" name="symptom[frequency]" id="<%= frequency %>" <%= "selected" if symptom.frequency == frequency %>" value="<%= frequency %>">
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="input">
    <label for="description">Description:</label>
    <textarea
      id="description"
      name="symptom[description]"><%= symptom.description if symptom.persisted? %></textarea>
  </div>

  <div class="input">
    <label for="intensity">Intensity (0 - 10):</label>
    <input
      id="intensity"
      type="number"
      name="symptom[intensity]"
      value="<%= symptom.intensity if symptom.persisted? %>">
  </div>
  
  <div class="input">
    <label for="date">Start Date:</label>
    <input
      id="date"
      type="date"
      name="date"
      value="<%= (symptom.persisted? && symptom.datetime) ? symptom.datetime.strftime("%Y-%m-%d") : Date.today %>">
  </div>
  
  <div class="time-input">
    <label for="time">Time:</label>
    <input
      id="time"
      type="time"
      name="time"
      value="<%= symptom.persisted? ? symptom.datetime.strftime("%H:%M") : Time.now.strftime("%H:%M") %>">
  </div>
  
  <div class="submit long-submit">
    <input type="submit" value="<%= symptom.persisted? ? 'Update' : 'Log' %> Symptom">
  </div>
</form>

