<div class="symptoms-table">
  <table id="symptoms">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Intensity</th>
        <th>Frequency</th>
        <th>Start Date</th>
        <th>Time</th>
      </tr>
    </thead>

    <% symptoms.each do |symptom| %>
      <tr>
        <td><%= link_to symptom.name, edit_user_symptom_url(symptom.patient_id, symptom) %></td>
        <td class="cell-wrap"><%= symptom.description %></td>
        <td><%= symptom.intensity %></td>
        <td><%= symptom.frequency %></td>
        <td><%= symptom.datetime.to_s(:date) %></td>
        <td><%= symptom.datetime.to_s(:time_12hr) %></td>
      </tr>
    <% end %>

  </table>
</div>
