<%= render "users/sub_bar", user: @user%>

<main class="group">
  <div class="side-content">
    <div class="title">
      <h3>Symptoms</h3>
    </div>
	
	<div class="side-info">
		<ul>
			<li><%= link_to "Symptom List", user_symptoms_url(@user) %></li>
      <li><%= link_to "Log Symptom", new_user_symptom_url(@user) %></li>
		</ul>
	</div>
  </div>

  <div class="sub-content">

    <%= render "form", symptom: @symptom, user: @user %>
      
  	<form class="form" action="<%= user_symptom_url(@user, @symptom) %>" method="POST">
  		<input type="hidden" name="_method" value="DELETE">
  		<%= auth_token %>
		
	    <div class="delete-submit long-submit">
	      <input type="submit" value="Delete">
	    </div>
  	</form>
    
    <div class="reminder-plus group" id="reminder-plus">
      <a href="#"></a>      
    </div>
    
    <%= render "reminders/list", reminders: @reminders %>
  </div>
</main>