

<main class="group">
  <!-- <div class="group">
    <div class="link"><%= link_to "Doctor Sign Up", new_doctor_url%></div>
    <div class="link"><%= link_to "Patient Sign Up", new_user_url%></div>
    <div class="link"><%= link_to "Login", new_session_url %></div>
  </div>
   -->
  <div class="root-nav">
    <ul class="">
      <li><%= link_to "Sign Up", new_doctor_url, rel: "doctor sign up", alt: "doctor sign up" %><%= link_to "Sign Up", new_user_url%></li>
      <li><%= link_to "Login", new_session_url(body_class: "login has_active_modal"), class: "login", remote: true %></li>
      <li><%= link_to "Doctors", new_doctor_url%><%= link_to "Patients", new_user_url%></li>
    </ul>
  </div>
</main>

<% content_for :modal do %>
  <%= render "form", user: @user %>
<% end %>