<%= render "doctors/sub_bar", doctor: @doctor%>

<main class="group">
  <div class="side-content">
    <div class="title">
      <h3>Appointment Types:</h3>
    </div>

    <div class="side-info">
		<ul>
			<li><%= link_to "Add New", new_appointment_type_url %></li>
		</ul>
	</div>
  </div>


  <div class="sub-content">
    <h2>All Appointment Types</h2>
     
    <table id="appointment_types">
      <thead>
        <tr>
          <th>Name</th>
          <th># Diagnoses</th>
          <th>Every x days</th>
          <th>Delete</th>
        </tr>
      </thead>

      <% @appointment_types.each do |appointment_type| %>
        <tr>
          <td><%= link_to appointment_type.name, edit_appointment_type_url(appointment_type) %></td>
          <td><%= appointment_type.diagnoses.count %></td>
          <td><%= appointment_type.occurence_frequency %></td>
          <td><%= link_to "Delete", [:delete, appointment_type], method: :delete, class: "delete-button deletable", data: {remote: true, confirm: "Really delete appointment type?"} %></td>
        </tr>
      <% end %>

    </table>
  </div>

</main>

<script type="text/javascript">
  
</script>