<div class="diagnoses-table">
  <table id="patient-diagnoses">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Code Type</th>
        <th>Delete?</th>
      </tr>
    </thead>

    <% patient_diagnoses.each do |patient_diagnosis| %>
      <tr>
        <td><%= patient_diagnosis.diagnosis.code %></td>
        <td class="cell-wrap"><%= patient_diagnosis.diagnosis.description %></td>
        <td><%= patient_diagnosis.created_at.to_formatted_s(:long_ordinal) %></td>
        <td><%= patient_diagnosis.diagnosis.code_type %></td>
        <td><%= button_to "Delete", user_diagnosis_url(@user, patient_diagnosis), method: :delete %></td>
      </tr>
    <% end %>

  </table>
</div>
