<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h2>Diagnoses:</h2>
    </div>

    <div class="side-info">
      <%= render "pages/form", user: @user %>
      <p><%= link_to "Add Diagnosis", new_user_diagnosis_url %></p>
    </div>
  </div>

  <div class="sub-content">
    <ul>
      <% @diagnoses.each do |diagnosis| %>
        <li><%= diagnosis.code %> : <%= diagnosis.description %></li>
      <% end %>
    </ul>
  </div>
</main>