<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h2>Diagnoses:</h2>
    </div>

    <div class="side-info">
      <h3>Search For Code:</h3>
      <%= render "pages/form", user: @user %>
      <br>
      <h3>Select Code:</h3>

      <form class="search" action="<%= user_add_diagnosis_url(@user) %>" method="GET">
        <%= auth_token %>

        <%= select_tag "Diagnoses",
        options_from_collection_for_select([], :id, :description),
        id: "diagnoses-select" %>

        <div class="submit">
          <input type="submit" value="Find Diagnosis!">
        </div>
      </form>

    </div>
  </div>

  <div class="sub-content">
    <ul>
      <% @diagnoses.each do |diagnosis| %>
        <li><%= diagnosis.code %> : <%= diagnosis.description %></li>
      <% end %>
    </ul>
  </div>
</main>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select#diagnoses-select').select2();

      var $el = $('input.select2-input')
      $el.on('input', function(event) {
        // console.log(event);
        // alert((event.currentTarget.value.length > 2));
        var url = "http://localhost:3000/search/diagnoses?query=" + event.currentTarget.value;
        if (event.currentTarget.value.length > 2) {
          $.ajax(url, {
            success: function(data, b, resp) {

              var html = "";
              var new_options = "";

              data.forEach(function(elem) {
                html += ("<option value='" + elem.id + "'>" + elem.description +"</option>");
                new_options += "<li class='select2-results-dept-0 select2-result select2-result-selectable'><div class='select2-result-label'><span class='select2-match'></span>" + elem.description + "</div></li>"
              });
              console.log(html);
              var $options = $('select#diagnoses-select')
              var $select_options = $('.select2-results')

              $select_options.html(new_options);
              $options.append(html);
            },
            error: function() {
              console.log("Error Searching for Diagnosis!")
            }
          });
        }

      });



    });
  </script>
<% end %>