<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h2>Diagnoses:</h2>
    </div>

    <div class="side-info">
      <h3>Search For Code:</h3>
      <%= render "pages/form", user: @user %>
      <br>
      <h3>Select Code:</h3>

      <form class="search" action="<%= user_add_diagnosis_url(@user) %>" method="GET">
        <%= auth_token %>

        <%= select_tag "Diagnoses",
        options_from_collection_for_select(Diagnosis.all, :id, :description),
        id: "diagnoses-select" %>

        <div class="submit">
          <input type="submit" value="Find Diagnosis!">
        </div>
      </form>

    </div>
  </div>

  <div class="sub-content">
    <ul>
      <% @diagnoses.each do |diagnosis| %>
        <li><%= diagnosis.code %> : <%= diagnosis.description %></li>
      <% end %>
    </ul>
  </div>
</main>

<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function() {
    $('select#diagnoses-select').select2();
  });
</script>
<% end %>