<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h3>Diagnoses:</h3>
    </div>

    <div class="side-info">

      <h3>Find ICD10 Code:</h3>

      <form class="search" action="<%= user_add_diagnosis_url(@user) %>" method="GET" data-remote="true">
        <%= auth_token %>

        <%= select_tag "Diagnoses",
        options_from_collection_for_select([], :id, :description),
        id: "diagnoses-select", name: "query" %>

        <div class="radio-group group">
          <label>Options:</label>

            <div class="radio-input group">
              <label for="icd9">ICD9</label>
              <input id="icd9" type="radio" name="diagnosis[code_type]" value="ICD9">
            </div>

            <div class="radio-input group">
              <label for="icd10">ICD10</label>
                <input id="off" type="radio" checked name="diagnosis[code_type]" value="ICD10">
              </label>
            </div>
        </div>
        
        <div class="submit side-button">
          <input type="submit" value="Add Diagnosis!">
        </div>
      </form>

    </div>
  </div>

  <div class="sub-content">

    <p><%= paginate @patient_diagnoses %></p>

    <label for="patient-diagnoses" class="table-label">All:</label>
    <%= render "list", patient_diagnoses: @patient_diagnoses %>

    <p><%= paginate @patient_diagnoses %></p>

  </div>
</main>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select#diagnoses-select').select2({
        placeholder: "Enter a code.."
      });

      var $el = $('input.select2-input');
      
      $el.on('input', function(event) {
        var url = "/search/diagnoses?query=" + event.currentTarget.value;
        
        if (event.currentTarget.value.length > 1) {
          $.ajax(url, {
            success: function(data, b, resp) {

              // clears out initial selection text
              $('.select2-chosen').text("");
              var html = "";
              var new_options = "";

              data.forEach(function(elem) {
                if (ensureUnique(elem.description)) {
                  html += ("<option class='unique-choice' value='" + elem.code + "'>" + elem.description +"</option>");
                  new_options += "<li class='select2-results-dept-0 select2-result select2-result-selectable'><div class='select2-result-label'><span class='select2-match'></span>" + elem.description + "</div></li>"
                }
              });

              var $options = $('select#diagnoses-select')
              // var $select_options = $('.select2-results')

              $options.prepend(html);
            },
            error: function() {
              console.log("Error Searching for Diagnosis!")
            }
          });
        }
      });
    });


  </script>
<% end %>

