<% @remindable = remindable %>
<% form_url = (remindable) ? polymorphic_url([user, remindable, :reminders]) : user_reminders_url(user) %>

<form class="form" <%= "data-remote='true'" unless request.format == "text/html" %> action="<%= form_url %>" method="POST">
  <h3>New <%= remindable.class if remindable %> Reminder:</h3>
  <%= auth_token %>
  <%= "<input type='hidden' name='_method' value='PUT'>".html_safe if reminder.persisted? %>
  
  <div class="input">
    <label for="title">Title:</label>
    <input
      id="title"
      type="text"
      name="reminder[title]"
      value="<%= reminder.title %>">
  </div>

  <div class="input">
    <label for="remindable-type">Type:</label>
    <select id="remindable-type" name="remindable[remindable_type]">
      <option></option>
      <% selected = false %>
      <% Reminder::REMINDABLE_TYPES.each do |remindable_type|%>
        <% selected = true if (remindable && remindable_type == remindable.class.to_s) || (!remindable && remindable_type == "Other") %>
        <option <%= "selected" if selected %> value="<%= remindable_type %>"><%= remindable_type %></option>
      <% end %>
    </select>
  </div>

  <div class="input">
    <label for="remindable-select">Pick one:</label>
    <select
      <%= "disabled" unless remindable  %>
      id="remindable-select"
      name="remindable[remindable_id]"
      class="">
      <option></option>
      <option <%= "selected" if remindable %> value="<%= remindable.id if remindable %>"><%= remindable.name if remindable %></option>
    </select>
  </div>
  
  <div class="checkbox-group">
    
    <h4>Day(s):</h4>
    <div class="checkbox-input">
      <label for="sunday">Su</label>
      <input
        <%= "checked" if days && @days.include?("0") %>
        id="sunday"
        type="checkbox"
        name="days[]"
        value="Sunday">
    </div>

    <div class="checkbox-input">
      <label for="monday">M</label>
      <input
        <%= "checked" if days && days.include?("1") %>
        id="monday"
        type="checkbox"
        name="days[]"
        value="Monday">
    </div>

    <div class="checkbox-input">
      <label for="tuesday">T</label>
      <input
        <%= "checked" if days && days.include?("2") %>
        id="tuesday"
        type="checkbox"
        name="days[]"
        value="Tuesday">
    </div>

    <div class="checkbox-input">
      <label for="wednesday">W</label>
      <input
        <%= "checked" if days && days.include?("3") %>
        id="wednesday"
        type="checkbox"
        name="days[]"
        value="Wednesday">
    </div>

    <div class="checkbox-input">
      <label for="thursday">Th</label>
      <input
        <%= "checked" if days && days.include?("4") %>
        id="thursday"
        type="checkbox"
        name="days[]"
        value="Thursday">
    </div>

    <div class="checkbox-input">
      <label for="friday">F</label>
      <input
        <%= "checked" if days && days.include?("5") %>
        id="friday"
        type="checkbox"
        name="days[]"
        value="Friday">
    </div>

    <div class="checkbox-input">
      <label for="saturday">S</label>
      <input
        <%= "checked" if days && days.include?("6") %>
        id="saturday"
        type="checkbox"
        name="days[]"
        value="Saturday">
    </div>
  </div>

  <div class="time-input time-group">
 
    <div class="plus group" id="plus">
      <a href="#"></a>      
    </div>
          
    <% if !times || times.empty? %>
      <label for="1">Time 1 :</label>
      <input
        id="1"
        type="time"
        name="times[]"
        value="<%= times.first if times %>">
    <% else %>
      <% times.each_with_index do |time, i| %>
        <label for="<%= i+1 %>">Time <%= i+1 %>:</label>
        <input
          id="<%= i+1 %>"
          type="time"
          name="times[]"
          value="<%= time %>">
      <% end %>
    <% end %>
  
  </div>

  <div class="submit">
    <input type="submit" value="Add Reminder">
  </div>
</form>