<tr>
  <td><%= reminder.parsed_time.to_s(:date) %></td>
  <td><%= reminder.parsed_time.to_s(:time_12hr) %></td>
  <td class="<%= 'overdue' if reminder.is_due? %>"><%= reminder.overdue_by_str %></td>
  <td><%= link_to reminder.title, edit_user_reminder_url(reminder.patient_id, reminder) %></td>
  <% if reminder.remindable_id %>
    <td><%= link_to reminder.remindable_type, polymorphic_url([user, reminder.remindable], action: :edit) %></td>
  <% else %>
    <td><%= reminder.remindable_type %></td>
  <% end %>
</tr>