<div class="reminders-table">
  <table id="reminders">
    <thead>
      <tr>
        <th>Due Date</th>
        <th>Time</th>
        <th>Overdue By</th>
        <th>Title</th>
        <th>Type</th>
      </tr>
    </thead>

    <% @reminders.each do |reminder| %>
    <tr>
      <td><%= reminder.datetime.to_s(:date) %></td>
      <td><%= reminder.datetime.to_s(:time_12hr) %></td>
      <td><%= reminder.overdue_by_str %></td>
      <td><%= link_to reminder.title, edit_user_reminder_url(reminder.patient_id, reminder) %></td>
      <% if reminder.remindable_id %>
        <td><%= link_to reminder.remindable_type, user_appointment_url(reminder.patient_id, reminder.remindable_id) %></td>
      <% else %>
        <td><%= reminder.remindable_type %></td>
      <% end %>
    </tr>
    <% end %>

  </table>
</div>
