<h2>Reminders:</h2>


<div class="sub-content">
  <%= link_to "Add New Reminder", new_user_reminder_url(@user) %>
  <br>
  <br>


  <div class="reminders-table">
    <table id="reminders">
      <label for="reminders" class="table-label">All:</label>
      <thead>
        <tr>
          <th>Due</th>
          <th>Overdue By</th>
          <th>Title</th>
          <th>Type</th>
        </tr>
      </thead>

      <% @reminders.each do |reminder| %>
      <tr>
        <% reminder.attributes.select{|attr| attr =~ /datetime|title|rem_type/}.each do |attr_name, attr_val| %>
          <% if attr_name == "datetime" %>
            <td><%= attr_val.to_formatted_s(:long_ordinal) %></td>
            <td><%= reminder.overdue_by_str %></td>
          <% elsif attr_name == "title" %>
            <td><%=  link_to attr_val, edit_user_reminder_url(@user.id, reminder) %></td>
          <% else %>
            <td><%= attr_val %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>

    </table>
  </div>


  <table id="due-reminders" class="reminders-table">
    <label for="due-reminders" class="table-label">Due:</label>
    <thead>
      <tr>
        <th>Due</th>
        <th>Overdue By</th>
        <th>Title</th>
        <th>Type</th>
      </tr>
    </thead>

    <% @due_reminders.each do |reminder| %>
    <tr>
      <% reminder.attributes.select{|attr| attr =~ /datetime|title|rem_type/}.each do |attr_name, attr_val| %>
        <% if attr_name == "datetime" %>
          <td><%= attr_val.to_formatted_s(:long_ordinal) %></td>
          <td><%= reminder.overdue_by_str %></td>
        <% elsif attr_name == "title" %>
          <td><%=  link_to attr_val, edit_user_reminder_url(@user.id, reminder) %></td>
        <% else %>
          <td><%= attr_val %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>

  </table>

  <table id="completed-reminders" class="reminders-table">
    <label for="completed-reminders" class="table-label">Completed:</label>
    <thead>
      <tr>
        <th>Due</th>
        <th>Overdue By</th>
        <th>Title</th>
        <th>Type</th>
      </tr>
    </thead>

    <% @complete_reminders.each do |reminder| %>
    <tr>
      <% reminder.attributes.select{|attr| attr =~ /datetime|title|rem_type/}.each do |attr_name, attr_val| %>
        <% if attr_name == "datetime" %>
          <td><%= attr_val.to_formatted_s(:long_ordinal) %></td>
          <td><%= reminder.overdue_by_str %></td>
        <% elsif attr_name == "title" %>
          <td><%=  link_to attr_val, edit_user_reminder_url(@user.id, reminder) %></td>
        <% else %>
          <td><%= attr_val %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>

  </table>

  <table id="incomplete-reminders" class="reminders-table">
    <label for="incomplete-reminders" class="table-label">Incomplete:</label>
    <thead>
      <tr>
        <th>Due</th>
        <th>Overdue By</th>
        <th>Title</th>
        <th>Type</th>
      </tr>
    </thead>

    <% @incomplete_reminders.each do |reminder| %>
    <tr>
      <% reminder.attributes.select{|attr| attr =~ /datetime|title|rem_type/}.each do |attr_name, attr_val| %>
        <% if attr_name == "datetime" %>
          <td><%= attr_val.to_formatted_s(:long_ordinal) %></td>
          <td><%= reminder.overdue_by_str %></td>
        <% elsif attr_name == "title" %>
          <td><%=  link_to attr_val, edit_user_reminder_url(@user.id, reminder) %></td>
        <% else %>
          <td><%= attr_val %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>

  </table>

</div>