<% if current_user.is_doctor %>
  <%= render "doctors/sub_bar", doctor: @user%>
<% else %>
  <%= render "users/sub_bar", user: @user%>
<% end %>

<main class="group">

  <div class="side-content">
    <div class="title">
      <h2>Reminders:</h2>
    </div>

      <p><%= link_to "Add New Reminder", new_user_reminder_url(@user) %></p>
      <p><%= link_to "Completed Reminders", reminders_completed_url(@user) %></p>
  </div>

  <div class="sub-content">
    <label for="reminders" class="table-label">All:</label>
    <%= render "list", reminders: @reminders %>
  </div>
</main>