<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h3>Reminders:</h3>
    </div>

    <div class="side-info">
		<ul>
	  	  	<li><%= link_to "Add New Reminder", new_user_reminder_url(@user) %></li>
	  		<li><%= link_to "Complete Reminders", reminders_completed_url(@user) %></li>
	  		<li><%= link_to "Due Reminders", user_reminders_url(@user) %></li>
		</ul>
    </div>
  </div>

  <div class="sub-content">

    <label for="reminders" class="table-label"><%= (params[:action] == "completed") ? "Completed" : "Due" %> Reminders:</label>
    <%= render "list", reminders: @reminders %>

  </div>
</main>