<%= render "users/sub_bar", user: @user%>


<main class="group">
  <div class="side-content">
    <div class="title">
      <h3>New Reminder</h3>
    </div>
    
    <div class="side-info">
		<ul>
	  	  <li><%= link_to "New Reminder", new_user_reminder_url(@user) %></li>
	  		<li><%= link_to "Complete Reminders", reminders_completed_url(@user) %></li>
	  		<li><%= link_to "Due Reminders", user_reminders_url(@user) %></li>
        <li><%= link_to "Upcoming Reminders", reminders_upcoming_url(@user) %></li>
		</ul>
    </div>
  </div>

  <div class="sub-content">

    <form class="form" action="<%= user_reminders_url(@user) %>" method="POST">
      <h3>New Reminder:</h3>
      <%= auth_token %>

      <div class="input">
        <label for="title">Title:</label>
        <input
          id="title"
          type="text"
          name="reminder[title]"
          value="<%= @reminder.title %>">
      </div>

      <div class="checkbox-group">
        
        
        <h4>Day(s):</h4>
        <div class="checkbox-input">
          <label for="sunday">Su</label>
          <input
            <%= "checked" if @days.include?("0") %>
            id="sunday"
            type="checkbox"
            name="days[]"
            value="0">
        </div>

        <div class="checkbox-input">
          <label for="monday">M</label>
          <input
            <%= "checked" if @days.include?("1") %>
            id="monday"
            type="checkbox"
            name="days[]"
            value="1">
        </div>

        <div class="checkbox-input">
          <label for="tuesday">T</label>
          <input
            <%= "checked" if @days.include?("2") %>
            id="tuesday"
            type="checkbox"
            name="days[]"
            value="2">
        </div>

        <div class="checkbox-input">
          <label for="wednesday">W</label>
          <input
            <%= "checked" if @days.include?("3") %>
            id="wednesday"
            type="checkbox"
            name="days[]"
            value="3">
        </div>

        <div class="checkbox-input">
          <label for="thursday">Th</label>
          <input
            <%= "checked" if @days.include?("4") %>
            id="thursday"
            type="checkbox"
            name="days[]"
            value="4">
        </div>

        <div class="checkbox-input">
          <label for="friday">F</label>
          <input
            <%= "checked" if @days.include?("5") %>
            id="friday"
            type="checkbox"
            name="days[]"
            value="5">
        </div>

        <div class="checkbox-input">
          <label for="saturday">S</label>
          <input
            <%= "checked" if @days.include?("6") %>
            id="saturday"
            type="checkbox"
            name="days[]"
            value="6">
        </div>
      </div>

      <div class="time-input">
       
        <div class="plus group" id="plus">
          <a href="#"></a>      
        </div>
                
        <% if @times.empty? %>
          <label for="1">Time 1 :</label>
          <input
            id="1"
            type="time"
            name="times[]"
            value="<%= @times.first %>">
        <% else %>
          <% @times.each_with_index do |time, i| %>
            <label for="<%= i+1 %>">Time <%= i+1 %>:</label>
            <input
              id="<%= i+1 %>"
              type="time"
              name="times[]"
              value="<%= time %>">
          <% end %>
        <% end %>
        
      </div>

      <div class="input">
        <label for="remindable-type">Type:</label>
        <select id="remindable-type" name="reminder[remindable_type]">
          <option></option>
          <option <%= "selected" if @reminder.remindable_type == "Appointment" %> value="Appointment">Appointment</option>
          <option <%= "selected" if @reminder.remindable_type == "Medication" %> value="Medication">Medication</option>
          <option <%= "selected" if @reminder.remindable_type == "Treatment" %> value="Treatment">Treatment</option>
          <option <%= "selected" if @reminder.remindable_type == "Input" %> value="Input">Data Input</option>
        </select>
      </div>
      
      

      <div class="submit">
        <input type="submit" value="Add Reminder">
      </div>
    </form>
  </div>
</main>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select#remindable-type').select2({
        placeholder: "Select Type..",
        allowClear: true
      });

      var addTime = function(id) {
       $(".time-input").append("<label for='" + id + "'>Time" + id + ":</label><input id='" + id + "' type='time' name='times[]' value=''>"); 
      };
      
      
      $('.plus').click(function(data) {
        var id = $('.time-input > input:last-child').attr('id');
        id = parseInt(id) + 1;
        
        if (id < 10) {
          addTime(id);  
        }
        
      });
      
    });
  </script>

<% end %>