<div class="sub-bar group">

  <div class="avatar">
    <%= image_tag user.avatar.url(:small) %>
  </div>

  <div class="nav-search group">
  </div>

  <div class="user-info group">
    <ul>
      <li><%= link_to user.full_name, user_url(user) %></li>
    </ul>
  </div>

  <div class="sub-nav">
    <ul>
      <li id=<%= 'icon-selected' if params[:controller] == "diagnoses" %>><a class="<%= 'green-' if params[:controller] == "diagnoses" %>diagnosis-icon icon" href="<%= user_diagnoses_url(user) %>">Dx</a></li>
      <li id=<%= 'icon-selected' if params[:controller] == "reminders" %>><a class="<%= 'green-' if params[:controller] == "reminders" %>reminder-icon icon" href="<%= user_reminders_url(user) %>">Reminders</a></li>
      <li id=<%= 'icon-selected' if params[:controller] == "appointments" %>><a class="<%= 'green-' if params[:controller] == "appointments" %>appointment-icon icon" href="<%= user_appointments_url(user)%>">Appointments</a></li>
      <li id=<%= 'icon-selected' if params[:controller] == "symptoms" %>><a class="<%= 'green-' if params[:controller] == "symptoms" %>treatment-icon icon" href="<%= user_symptoms_url(user) %>">Treatments</a></li>
      <li id=<%= 'icon-selected' if params[:controller] == "medications" %>><a class="<%= 'green-' if params[:controller] == "medications" %>medication-icon icon" href="<%= user_medications_url(user)%>">Medications</a></li>
      <li id=<%= 'icon-selected' if params[:controller] == "educations" %>><a class="<%= 'green-' if params[:controller] == "educations" %>education-icon icon" href="<%= %>">Education</a></li>
      <li id=<%= 'icon-selected' if params[:controller] == "patient_reports" %>><a class="<%= 'green-' if params[:controller] == "patient_reports" %>report-icon icon" href="<%= %>">Reports</a></li>
    </ul>
  </div>
</div>

<%= render "application/messages", message_type: "errors" %>  
<%= render "application/messages", message_type: "notices" %>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
    
      $('.sub-nav > ul > li').click(function(data) {
        $(data.currentTarget).attr("id", "icon-clicked");
        
      });
      
    });
  </script>

<% end %>
