<div class="sub-bar group">

  <div class="avatar">
    <%= image_tag user.avatar.url(:small) %>
  </div>

  <div class="nav-search group">
  </div>

  <div class="user-info">
    <ul>
      <li><%= link_to "Settings", edit_user_url(user) %></li>
      <li><%= user.full_name %></li>
    </ul>
  </div>

  <div class="sub-nav">
    <ul>
      <li><%= link_to "Diagnoses", user_diagnoses_url(user) %></li>
      <li><%= link_to "Reminders", user_reminders_url(user) %></li>
      <li><a ="#">Education</a></li>
      <li><a ="#">Treatment</a></li>
      <li><%= link_to "Medications", user_medications_url(user) %></li>
      <li><%= link_to "Appointments", user_appointments_url(user) %></li>
      <li><a ="#">Reports</a></li>
    </ul>
  </div>
</div>