<%= render "sub_bar", user: @user%>

<h2>Patient: <%= @user.full_name %></h2>
<ul>
<li>Email: <%= @user.email %></li>
<li>Phone: <%= @user.phone %></li>
<li>Height: <%= @user.health[0].height %></li>
</ul>