<%= render "sub_bar", user: @user%>

<main class="group">
  <div class="side-content">
    <div class="title">
      <h2>Patient: <%= @user.full_name %></h2>
    </div>
  </div>

  <div class="sub-content">
    <ul>
      <li>Email: <%= @user.email %></li>
      <li>Phone: <%= @user.phone %></li>
      <li>Height: <%= @user.health[0].height %></li>
    </ul>
  </div>
</main>