<% form_url = (patient_medication.persisted?) ? user_medication_url(user, patient_medication) : user_medications_url(user) %>

<form class="form" action="<%= form_url %>" method="POST">
	
  <h3><%= (patient_medication.persisted?) ? 'Edit' : 'New' %> Medication:</h3>
  
  <%= auth_token %>
  <%= "<input type='hidden' name='_method' value='PUT'>".html_safe if patient_medication.persisted? %>
  
  
  
  <div class="input">
    <label for="meciation-select">Medication Name:</label>
    <input type="hidden" id="medication-select" name="medication[name]" style="width: 100%;">
    <select id="medication-select2" name="medication[name]" style="width: 275px">
      <option class="unique-choice" value="<%= patient_medication.medication.name if patient_medication.medication_id %>" selected><%= patient_medication.medication.name if patient_medication.medication_id %></option>
    </select>
  </div>
  

  <div class="input">
    <label for="diagnoses-select">Diagnosis:</label>
    <select id="diagnoses-select" name="diagnoses_ids[]" style="width: 275px">
      <option class="unique-choice" value="<%= patient_medication.pt_diagnosis_id %>" selected><%= patient_medication.diagnosis.name if patient_medication.pt_diagnosis_id %></option>
    </select>
  </div>
  
  <div class="input">
  <label for="doctor">Doctor:</label>
  
    <select id="doctor" name="doctor_id">
      <option value="<%= user.doctor_id %>">Dr. <%= user.doctor.full_name %></option>
    </select>
  </div>


  <div class="input">
    <label for="date">Date:</label>
    <input
      id="date"
      type="date"
      name="date"
      value="">
  </div>

  <div class="time-input">
    <label for="time">Time:</label>
    <input
      id="time"
      type="time"
      name="time"
      value="">
  </div>

  <div class="input">
    <label for="note">Note:</label>
    <textarea
      id="note"
      name="appointment[note]"></textarea>
  </div>

  <div class="submit long-submit">
    <input type="submit" value="<%= patient_medication.persisted? ? 'Edit' : 'Add' %> Medication">
  </div>
</form>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#medication-select').select2({
        placeholder: "Enter a name..",
        minimumInputLength: 1,
        ajax: {
          url: '<%= medications_search_url %>',
          dataType: 'json',
          data: function (term, page) {
            return {
              name: term
            };
          },
          results: function(data, page) {
            return {results: data}
          }
        }
      });

      $('select#diagnoses-select').select2({
        placeholder: "Select Diagnoses"
      });

      // var ensureUnique = function(name) {
//         var isUniq = true;
// 
//         $('.unique-choice').each(function(i, el) {
//           if (el.text === name) {
//             isUniq = false;
//           };
//         })
// 
//         return isUniq;
//       };
// 
//       var $el = $('input.select2-input')
//       $el.on('input', function(event) {
//         // console.log(event);
//         // alert((event.currentTarget.value.length > 2));
//         
//         
//         var $el = $('input.select2-input')
//         // var $inputs = $el.parent().parent()
// //         $inputs.each(function(i, el) { if (i == 1) {console.log($(el).attr('id')); } });
//         var url = "/search/medications?query=" + event.currentTarget.value;
//         if (event.currentTarget.value.length > 1) {
//           $.ajax(url, {
//             success: function(data, b, resp) {
//               console.log(data);
//               // clears out initial selection text
//               $('.select2-chosen').text("");
//               var html = "";
//               var new_options = "";
//               var new_data = false;
//               data.forEach(function(name) {
//                 if (ensureUnique(name)) {
//                   new_data = true;
//                   html += ("<option class='unique-choice' value='" + name + "'>" + name +"</option>");
//                 }
//                 // new_options += "<li class='select2-results-dept-0 select2-result select2-result-selectable'><div class='select2-result-label'><span class='select2-match'></span>" + name + "</div></li>"
//               });
// 
//               // console.log(html);
//               var $options = $('select#medication-select')
//               var $select_options = $('.select2-results')
//               $options.prepend(html);
//               // if (new_data) {
//  //                $select_options.html(new_options);
//  //              }
//             },
//             error: function() {
//               console.log("Error Searching for Medication!")
//             }
//           });
//         }
// 
//       });
// 
//       $('.select2-results').on('click', function(event) {
//         var targetData = $(event.currentTarget.firstChild.firstChild).text();
//         $('.select2-chosen').html(targetData);
//         $('#select2-input').removeClass('select2-focused');
//         $('#select2-drop').removeAttr('style');
//         $('#select2-drop').removeAttr('id');
//         $('#select2-drop').attr('style', "display: none; left: 448px; width: 176px; top: 644px; bottom: auto;");
//         $('#select2-drop-mask').removeAttr('style');
//         $('#select2-drop-mask').attr('style', 'display: none;');
//         // $('#select2-drop').addClass('display-none');
//         // $('#select2-drop-mask').addClass('display-none');
//         $('#s2id_autogen1').removeAttr('disabled');
//         $('.select2-container').removeClass('select2-dropdown-open');
//         $("select2-default").removeClass("select2-default");
// 
//       });
// 
// 
//       $('.select2-input').keyup(function(event){
//         if(event.keyCode == 13) {
//           $input = $('.select2-search > input');
// 
//           $('.select2-chosen').text($('.select2-search > input').val());
//           $('select#diagnoses-select').html("<option value='" + $input.val() + "'></option>");
// 
//           $('#select2-input').removeClass('select2-focused');
//           $('#select2-drop').removeAttr('style');
//           $('#select2-drop').removeAttr('id');
//           $('#select2-drop').attr('style', "display: none; left: 448px; width: 176px; top: 644px; bottom: auto;");
//           $('#select2-drop-mask').removeAttr('style');
//           $('#select2-drop-mask').attr('style', 'display: none;');
//           $('#s2id_autogen1').removeAttr('disabled');
//           $('.select2-container').removeClass('select2-dropdown-open');
//         }
// 
//       });

    });


  </script>
<% end %>
