<% form_url = (patient_medication.persisted?) ? user_medication_url(user, patient_medication) : user_medications_url(user) %>

<form class="form" action="<%= form_url %>" method="POST">
	
  <h3><%= (patient_medication.persisted?) ? 'Edit' : 'New' %> Medication:</h3>
  
  <%= auth_token %>
  <%= "<input type='hidden' name='_method' value='PUT'>".html_safe if patient_medication.persisted? %>
  
  
  
  <div class="input">
    <label for="meciation-select">Medication Name:</label>
    <input id="medication-select" type="hidden" name="medication[name]" style="width: 275px;" value="<%= patient_medication.medication.name if patient_medication.medication_id %>">
  </div>
  
 <div class="input">
   <label for="description-select">Exact Match:</label>
   <select
     id="description-select"
     name="patient_medication[description]"
     class="hidden">
     <option></option>
     <option <%= "selected" if patient_medication.persisted? %> value="<%= patient_medication.description %>"><%= patient_medication.description %></option>
   </select>
 </div>
  
  <div class="input">
    <label for="num_taken">Amount you take in one dose (tablets, puffs, injections..):</label>
    <input
      id="num_taken"
      type="number"
      name="patient_medication[num_taken]"
      value="<%= patient_medication.num_taken if patient_medication.persisted? %>">
  </div>
  
  <label for="schedule">Schedule:</label>
  <div id="schedule" class="group">
  
    <div class="checkbox-group">
      <h4>Frequency:</h4>
      <% 1.upto(6) do |i| %>
        <div class="checkbox-input">
        <label for="<%= i %>"><%= i %> x</label>
        <input type="radio" name="patient_medication[frequency]" id="<%= i %>" "<%= "selected" if patient_medication.frequency == i %>" value="<%= i %>">
        </div>
      <% end %>
    </div>
  
    <div class="checkbox-group">
      <h4>Time Period:</h4>
      <div class="checkbox-input">
        <label for="day">Day</label>
        <input type="radio" name="patient_medication[time_period]" id="day" <%= "selected" if patient_medication.time_period == "day" %> value="day">
      </div>
      <div class="checkbox-input">
        <label for="week">Week</label>
        <input type="radio" name="patient_medication[time_period]" id="week" <%= "selected" if patient_medication.time_period == "week" %> value="week">
      </div>
      <div class="checkbox-input">
        <label for="month">Month</label>
        <input type="radio" name="patient_medication[time_period]" id="month" <%= "selected" if patient_medication.time_period == "month" %> value="month">
      </div>
      <div class="checkbox-input">
        <label for="year">Year</label>
        <input type="radio" name="patient_medication[time_period]" id="year" <%= "selected" if patient_medication.time_period == "year" %> value="year">
      </div>
      <div class="checkbox-input">
        <label for="hour">Hour</label>
        <input type="radio" name="patient_medication[time_period]" id="hour" <%= "selected" if patient_medication.time_period == "hour" %> value="hour">
      </div>
      <div class="checkbox-input">
        <label for="prn">As Needed</label>
        <input type="radio" name="patient_medication[time_period]" id="prn" <%= "selected" if patient_medication.time_period == "prn" %> value="prn">
      </div>
    </div>
  </div>
  
  <div class="input">
    <label for="count"><%= (patient_medication.persisted?) ? "Quantity Left" : "Starting Quantity" %>:</label>
    <input
      id="count"
      type="number"
      name="patient_medication[count]"
      value="<%= patient_medication.count if patient_medication.persisted? %>">
  </div>

   <div class="input">
    <label for="diagnosis-select">Diagnosis:</label>
    <select id="diagnosis-select" name="patient_medication[pt_diagnosis_id]" style="width: 275px">
      <option></option>
      <% patient_diagnoses.each do |patient_diagnosis| %>
      <option class="unique-choice" value="<%= patient_diagnosis.id %>" <%= "selected" if patient_medication.patient_diagnosis && patient_medication.pt_diagnosis_id == patient_diagnosis.id %>><%= patient_diagnosis.diagnosis.description %></option>
      <% end %>
    </select>
  </div>


  <div class="input">
    <label for="date">Start Date:</label>
    <input
      id="date"
      type="date"
      name="patient_medication[start_date]"
      value="<%= patient_medication.start_date.strftime("%Y-%m-%d") if patient_medication.persisted? && patient_medication.start_date %>">
  </div>
  
  <div class="input">
    <label for="refills">Refills:</label>
    <input
      id="refills"
      type="number"
      name="patient_medication[refills]"
      value="<%= patient_medication.refills if patient_medication.persisted? %>">
  </div>

  <div class="input">
    <label for="note">Note:</label>
    <textarea
      id="note"
      name="patient_medication[note]"><%= patient_medication.note if patient_medication.persisted? %></textarea>
  </div>

  <div class="submit long-submit">
    <input type="submit" value="<%= patient_medication.persisted? ? 'Edit' : 'Add' %> Medication">
  </div>
</form>

<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var $medicationSelect = $('#medication-select');
      
      $medicationSelect.select2({
        placeholder: "Enter a name..",
        allowClear: true,
        minimumInputLength: 2,
        formatSelection: function(data) {
          return data.text;
        },
        ajax: {
          url: '<%= medications_search_url %>',
          dataType: 'json',
          data: function (term, page) {
            return {
              query: term
            };
          },
          results: function(data, page) {
            var results = [];
            $.each(data, function(index, item){
              results.push({id: item, text: item});
            });
            return {results: results};
          }
        },
        initSelection : function (element, callback) { 
          var name = $("#medication-select").val();
          var data = {id: name, text: name};
          callback(data); 
        }
        
      });
      
      $('#diagnosis-select').select2({
        placeholder: "Select Diagnoses",
        allowClear: true,
        dropdownAutoWidth: true
      });
      
      var $descriptionSelect = $('#description-select');
      
      $descriptionSelect.select2({
        placeholder: "Pick one",
        allowClear: true
      });
      

      $medicationSelect.on('change', function(event) {
        var url = "/search/full_medications?query=" + event.currentTarget.value;
        
        $.ajax(url, {
          success: function(data) {
            var html = "<option></option>";
        
            $.each(data, function(i, el) {
              html += ("<option class='unique-choice' value='" + el.name + "'>" + el.name +"</option>");
            });
            
            $descriptionSelect.html(html);
            $descriptionSelect.select2('enable', true);
            $descriptionSelect.select2('open', true);
          },
          error: function() {
            console.log("Error in full_medication_search!");
          }
        });
      });
    });


  </script>
<% end %>
