<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h3>Medications:</h3>
    </div>

    <div class="side-info">
      <p><%= link_to "New Medication", new_user_medication_url(@user) %></p>

      
    </div>
  </div>

  <div class="sub-content">

    <p><%= paginate @patient_medications %></p>

    <label for="patient-medications" class="table-label">All:</label>
    <%= render "list", patient_medications: @patient_medications %>

    <p><%= paginate @patient_medications %></p>

  </div>
</main>


