
<div class="reminders-table">
  <table id="alerts" class="alert-table">

    <thead>
      <tr>
        <th>Reason</th>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Patient</th>
        <th>Complete?</th>
      </tr>
    </thead>

    <% alerts.each do |alert| %>
      <tr>
        <td><%= link_to alert.reason, alert_url(alert) %></td>
        <td><%= alert.alert_type %></td>
        <td><%= alert.created_at.to_s(:date) %></td>
        <td><%= alert.created_at.to_s(:time_12hr) %></td>
        <td><%= link_to alert.patient.full_name, user_url(alert.patient) %></td>
        <td><%= alert.complete_str %></td>
      </tr>
    <% end %>

  </table>
</div>