<%= render "doctors/sub_bar", doctor: @doctor%>

<main class="group">
  <div class="side-content">
    <div class="title">
      <h2>Alerts:</h2>
    </div>

	<div class="side-info">
		<%= link_to "Completed Alerts", alerts_completed_url %>
	</div>
  </div>


  <div class="sub-content">
   <label for="alerts" class="table-label">New Alerts:</label>

   <p><%= paginate @alerts %></p>

   <%= render "list", alerts: @alerts %>
   <p><%= paginate @alerts %></p>
  </div>

</main>