<div class="sub-bar group">

  <div class="avatar">
    <%= image_tag doctor.avatar.url(:small) %>
  </div>

  <div class="nav-search group">
    <%= render "pages/nav_search" %>
  </div>

  <div class="user-info">
    <ul>
      <li><%= "Dr. " + doctor.full_name %></li>
      <li><%= link_to "Settings", edit_user_url(doctor) %></li>
    </ul>
  </div>

  <div class="sub-nav">
    <ul>
      <li><%= link_to "Alerts", alerts_url %></li>
      <li><%= link_to "Appointment Types", appointment_types_url %></li>
      <li><a ="#">Goals</a></li>
      <li><a ="#">Reports</a></li>
    </ul>
  </div>
</div>