<%= render "sub_bar", doctor: @doctor%>

<main class="group">


  <div class="side-content">
    <div class="title">
      <h2>Doctor Page</h2>
    </div>
    <div class="side-info">
      <a href="<%= new_user_url %>">Add New Patient</a>
    </div>
  </div>

  <div class="sub-content">

    <h3><%= @doctor.practice.name %> Patients: (Total: <%= @doctor.patients.count %>)</h3>

    <p><%= paginate @patients %></p>

    <ul>
      <% current_user.patients_by_last_name.each do |patient| %>
        <li><%= link_to patient.full_name_by_last, user_url(patient) %></li>
      <% end %>
    </ul>

    <p><%= paginate @patients %></p>

  </div>

</main>