<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h3>Appointments:</h3>
    </div>

    <div class="side-info">
		<ul>
			<li><%= link_to "Appointment List", user_appointments_url(@user) %></li>
			<li><%= link_to "New Appointment", new_user_appointment_url(@user) %></li>
		</ul>
    </div>
  </div>

  <div class="sub-content">
    <%= render "form", appointment: @appointment, user: @user %>
	
	<form class="form" action="<%= user_appointment_url(@user, @appointment) %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<%= auth_token %>
		
	    <div class="delete-submit long-submit">
	      <input type="submit" value="Delete">
	    </div>
	</form>
  <% unless @appointment.reminders.empty? %>
    <p><%= link_to "Reminder", edit_user_reminder_url(@user, @appointment.reminders.first) %></p>
  <% end %>
  <p></p>
  </div>
</main>


