<%= render "users/sub_bar", user: @user%>


<main class="group">

  <div class="side-content">
    <div class="title">
      <h3>Appointments:</h3>
    </div>

    <div class="side-info">
      <p><%= link_to "New Appointment", new_user_appointment_url(@user) %></p>

    </div>
  </div>

  <div class="sub-content">

    <p><%= paginate @appointments %></p>

    <label for="appointments" class="table-label">All:</label>
    <%= render "list", appointments: @appointments %>

    <p><%= paginate @appointments %></p>

  </div>
</main>


