<!DOCTYPE html>
<html>
<head>
  <title>PreventIT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="top-bar">

      <div class="logo">
        PreventIT
        <img src="/assets/preventIT_final/preventIT_267x193.png">
      </div>

      <div class="nav-sign-ins">
        <%= flash[:errors].join('<br>').html_safe if flash[:errors] %><br>

         <% if current_user %>
           You are signed in as:
           <% if current_user.is_doctor  %>
             <%= link_to "Dr. #{current_user.full_name}", doctor_url(current_user) %><br>
           <% else %>
             <%= link_to "#{current_user.full_name}", user_url(current_user) %>
           <% end %>
           <%= button_to "Sign Out", session_url, :method => :delete %>

         <% else %>
           <%= link_to "Doctor Sign Up", new_doctor_url %>
           <%= link_to "Patient Sign Up", new_user_url %>
           <%= link_to "Sign In", new_session_url %>

         <% end %>
      </div>

  </header>

    <%= yield %>


</body>

<footer>
  <div class="copyright">
    <h4>© Ayos Informatics, LLC 2014</h4>
  </div>
</footer>
</html>
