<!DOCTYPE html>
<html>
<head>
  <title>PreventIT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="top-bar group">
      <div class="logo">
        <img src="/assets/preventIT_final/preventIT_150x100.gif">
      </div>
      <div class="tagline">
        <h1>Chronic Health Management</h1>
      </div>

      <div class="nav-sign-ins">
        <%= flash[:errors].join('<br>').html_safe if flash[:errors] %><br>

         <% if current_user %>
           Welcome:
           <% if current_user.is_doctor  %>
             <%= link_to "Dr. #{current_user.full_name}", doctor_url(current_user) %><br>
           <% else %>
             <%= link_to "#{current_user.full_name}", user_url(current_user) %>
           <% end %>
           <%= button_to "Sign Out", session_url, :method => :delete, class: "button" %>

         <% else %>
           | <%= link_to "New Doctor", new_doctor_url%> |
           <%= link_to "New Patient", new_user_url%> |
           <%= link_to "Sign In", new_session_url %> |
           <div class="google-signin"><a class="group" href="/auth/google_oauth2"></a></div>
         <% end %>
      </div>
    </div>

  </header>

    <%= yield %>
    <%= yield :js %>

</body>

<footer class="group">
  <div class="copyright">
    <h4>© Ayos Informatics, LLC 2014</h4>
  </div>
</footer>
</html>
