<!DOCTYPE html>
<html>
<head>
  <title>PreventIT</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>PreventIT</h1><img src="/assets/preventIT_final/preventIT_150x100.jpg">
  <%= flash[:errors].join('<br>').html_safe if flash[:errors] %><br>

   <% if current_user %>
     You are signed in as:
     <%= "Dr. " if current_user.is_doctor %>
     <%= current_user.email %><br>
     <%= button_to "Sign Out", session_url, :method => :delete %>

   <% else %>
     <%= link_to "Sign Up", new_user_url %>
     <%= link_to "Sign In", new_session_url %>

   <% end %>

<%= yield %>

</body>

<footer>
  <br><br><br>
  © Ayos Informatics, LLC 2014
</footer>
</html>
